* {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}
